/*Mobile First*/

body {
  background-color: #FFF;
  color: #000;
}

object {
  margin: 1em;
}

/*Tablet*/

@media screen and (min-width : 768px) {
  .svg-img {
    float: left;
    margin: auto;
    width: 50%;
  }

  #rifts {
    float: none;
  }
}


/*Desktop*/

@media screen and (min-width : 1024px) {
  .svg-img {
    width: 33%;
  }

  #myriad {
    float: left;
  }
  #rifts {
    float: right;
  }
}
