.main-div {
  margin-top: -56px;
}

.centered {
  padding-top: 2rem!important;
  padding-bottom: 82px!important;
}

.logo {
  width: 164px;
}

.bg-cover {
  background: rgba(0, 0, 0, 0)!important;
}

.special-footer {
  padding-bottom: 3rem!important;
}

.in-block {
  display: inline-block!important;
}

#copyright {
  padding-left: 3rem;
}

@media screen and (max-width: 755px) {
  .in-block {
    display: block!important;
  }
}
